.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-color: #f2f2f2;; /* Background color of the page */
}

.contact-us h1 {
    text-align: center;
    font-size: 3rem;
}

.contact-us form {
    background-color: #205084; /* Blue background */
    padding: 2rem;
    border-radius: 10px; /* Rounded corners */
    width: 50%; /* Adjust as needed */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Shadow for a "lifted" effect */
    color: white; /* Text color */
}

.contact-us form label {
    display: block; /* Make the label a block element so it's on its own line */
}

.contact-us form input,
.contact-us form textarea {
    width: 90%;
    padding: 1rem;
    margin: 0.5rem 0; /* Space out the inputs and labels */
    border: none;
    border-radius: 5px; /* Slightly rounded corners on inputs */
}

.contact-us form button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    margin: 1rem 0; /* Vertical margin added */
    display: block; /* Make the button a block element */
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto;
}
  .contact-us .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: #334079;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(0, 0, 0, 0.1), 0px 30px 60px rgba(0, 0, 0, 0.1);
    z-index: 10;
    color: white;
    border: #f2f2f2 solid 1px;
  }