.favorites-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background-color: #f2f2f2;
    margin-bottom: .5rem;
    border-bottom: 1px solid #205084;
    border-top: 10px solid #205084;
  }
  
  .favorites-section h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #205084;
    text-align: center;
}

.favorites-section h4 {
    margin-top: 0;
    color: grey;
    font-style: italic;
}

  .favorites-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0 -1rem;
    touch-action: pan-x;
    user-select: none;
  }