.footer-container {
  width: 100%;
  background-color: #205084;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
}

.footer-background {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  gap: 10px;
}

.footer-logo {
  grid-column: 1;
  grid-row: 1;
  height: 15rem;
}

.sitenav-list, .contactus-list, .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color:#f2f2f2;
}
.sitenav-list li, .contactus-list li, .social-list li {
  margin-bottom: 1rem;
}

.sitenav-title, .contact-title, .social-title {
  text-decoration: underline;
  font-weight: bold;
}

a {
  color: #f2f2f2;
  font-weight: bold;
  text-decoration: none;
}

.social-item {
  margin-bottom: 5px;
}

.footer-copy {
  grid-column: span 3;
  grid-row: 3;
  text-align: center;
  font-size: 12px;
  color: #f2f2f2;
  padding-bottom: 20px;
  margin: 0 auto;
  align-self: end;
}

/* Responsive footer CSS */

@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .sitenav-list, .contactus-list, .social-list {
    width: 100%;
    margin-bottom: 20px;
  }

  .sitenav-list li, .contactus-list li, .social-list li {
    display: inline-block;
    margin-right: 10px;
  }

  .footer-copy {
    text-align: center;
  }
}