.globe-text-container {
    position: absolute;
    left: 20px;
    margin-top: 5rem;
    width: 30%;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.globe-text-container img {
    display: block;
    margin: auto;
    width: auto;
    max-height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .globe-container {
      width: 95%;
    }

    .globe-text-container {
        font-size: 10px;
        width: 90%;
        height: 20%;
        left:20px;
        bottom: 0px;
    }
    .globe-text-container img {
        max-height:50% ;
    }
}